.detail-container{
	width:700px;
	margin:0 auto;

	h1{
		display:block;
		height:50px;
		padding:30px 0;
		text-align:center;
	}
	.time{
		font-size:14px;
		text-align:center;
		color:#999;
	}
	.content{
		margin-top: 50px;
		width: 100%;
	}
}