.container{
	.main{
	    position: relative;
	    width: 1250px;
	    background: white;
	    margin:0 auto;
	    border: 1px solid #ececec;
	}
	.main-left{
	    width: 825px;
	    float: left;
	}
	.main-right{
	    width:350px;
	    float:right;
	}
}